/* TIC TAC TOE */
@font-face {
    font-family: fontOne;
    src: url(../fonts/ArTarumianAnpuitUnicode.ttf);
}

@font-face {
    font-family: fontTwo;
    src: url(../fonts/Vrdznagir.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

#tic-tac-toe{
    display: none;
}
section.pageContainerOne {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/back\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.gameTitle{
    font-family:fontOne;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 99px;
    text-transform: uppercase;
    color: #FBC03C;
}    

.mainTic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

}

h3{
    font-size: 24px;
}
#gridContainer{
    background-image: url(../images/board.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    width: 600px;
    height: 600px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box{
    background: transparent;
    border: none;
    font-size: 80px;
    text-align: center;
}
.popup{
    display: none;
    position: absolute;
    top: 244px;
    left: 24%;
    padding: 40px 80px;
    border: 1px solid black;
    background-color: rgb(92, 23, 105);
    color: #fff;
    opacity: .95;
    font-size: 24px;
    text-align: center;
}
.newGameBtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
}
.newGameBtn>button{
    font-family:fontOne;
    padding: 16px 30px;
    background: #6DB6BF;
    border-radius: 50px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}
#nextGameTic{
    display: none;
}
#memoryGame{
    display: none;
}

.repeatGame{
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./back\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.repeatGameContainer{
    background-image: url(../images/repeatContent.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    background-position: center;
    max-width: 900px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.repeatGameContainer span{
    max-width: 474px;
    margin: 0 auto;
    font-family: fontTwo;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #014C51;
    padding-left: 52px;

}
#repeatGame{
    display: none;
}
/* @media (max-width: 1440px){
    #gridContainer {
        width: 500px;
        height: 500px;
    }
}


@media (max-width: 600px){
    header{
        font-size: 28px;
    }
    .title{
        max-width: 300px;
    }
    .numberOfBox{
        width: 250px;
    }
    #gridContainer{
        width: 300px;
        height: 300px;
    }
    .popup{
        top: 95px;
        left: 6%;
        font-size: 24px;
        padding: 38px 66px;
        font-size: 20px;
    }
    section.pageContainerOne{
        background-image: url(./back2mobile.png);
        background-position: center;
    }

    .gameTitle{
        font-size: 70px;

    }
    .newGameBtn>button{
        font-size: 26px;
    }

    .box{
        font-size: 64px; 
    }
}

@media (max-width:400px){
    .gameTitle {
        font-size: 56px;
    }

    .newGameBtn>button {
        font-size: 22px;
        padding: 14px 28px;
    }

    .box {
        font-size: 48px;
    }
} */
